* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.google-header {
  /* Overrides universal rule b/c classes have higher specificity.
    The universal * has the lowest specificity */
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  gap: 14px;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
