* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.google-header {
  /* Overrides universal rule b/c classes have higher specificity.
    The universal * has the lowest specificity */
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-button {
  border: none;
  background-color: transparent;
}

/* Below is decendant combinator (space) to target all imgs that are any type of decendant of an element with the class 'img-button' */
.img-button img {
  width: 40px;
  aspect-ratio: 1 / 1;
  /* aspect-ratio means whenever we set a width, the height will be the corresponding height evenly, at a 1:1 ratio. So, because we set the width to be 40px above, the height will also now be 40px. */
  overflow: hidden;
  border-radius: 100%;
}
