* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  /*(Below) Makes the body at least as big as 100% of the view height */
  min-height: 100vh;
}

.google-header {
  /* Overrides universal rule b/c classes have higher specificity.
    The universal * has the lowest specificity */
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-link {
  /*By setting color:inherit; the links will inherit their parent: the <body>*/
  color: inherit;
}

.text-link:hover {
  text-decoration: underline;
}

.icon-link {
  font-size: 1rem;
  color: inherit;
  width: 30px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 100%;

  /*Used to center 1 element. place-items:center will center item both horizontally and vertically.*/
  display: grid;
  place-items: center;
}

.icon-link:hover {
  background: rgb(233, 232, 232);
}

.img-button {
  border: none;
  background-color: transparent;
}

/*Below is decendant combinator (space) to target all imgs that are any type of decendant of an element with the class 'img-button'*/
.img-button img {
  width: 40px;
  aspect-ratio: 1 / 1;
  /*aspect-ratio means whenever we set a width, the height will be the corresponding height evenly, at a 1:1 ratio. So, because we set the width to be 40px above, the height will also now be 40px.*/
  overflow: hidden;
  border-radius: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.input-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  border: 1px solid rgb(233, 232, 232);
  padding: 1rem;
  border-radius: 1rem;
}

.input-bar:hover,
.input-bar:focus-within {
  box-shadow: 0 0 4px 1px rgb(238, 238, 238);
}

.input-bar input {
  flex: 1;
  border: none;
  outline: none;
  width: 100%;
}

.input-bar div {
  /*Above code selects any divs within elements that have the class .input-bar*/
  display: flex;
  align-items: center;
  gap: 1rem;
}
